<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Lawers Dashbaord</title>
</head>
<body>
        <div class="container-fluid">
        
                <div class="lawyerHeader">
                    <h1>Welcome lawyer: John Corner </h1>
                </div>
                <div class="lawyerBody">
                    <p>Your lawyer is Jason Stuck</p>
                </div>
                  
                <div class="lawyerFooter">
                </div>
        
            </div>

</body>
</html>