<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Dashboard</title>
</head>
<body>
    <div class="mainUserDash">
        
        <div class="userHeader">
            <h1>Welcome User: Jone Smith</h1>
        </div>
        <div class="userBody">
            <p>Your lawyer is Jason Stuck</p>
        </div>
          
        <div class="userFooter">
        </div>

    </div>
</body>
</html>